.project-container {
    background-color: var(--background);
    margin-top: 50px;
}

.project-parent {
    padding: 50px;
}

.project-title {
    color: white;
    text-align: center;
    font-family: "Poppins SemiBold";
    margin-bottom: 50px;
}

.project-card img{
    border-radius: 15px;
    cursor: pointer;
}

.project-icon {
    color: white;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.project-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project-btn {
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    vertical-align: middle;
    margin-bottom: 30px;
}

.project-buttons a{
    outline: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
